/* ------------ GENERAL STYLES --------------------- */

.row {
   margin: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
}

.error {
   color: red;
}

.success {
   color: green;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea, select {
   padding: 5px;
}

/* ------------ PROFILE PAGE -----------------------*/

#profile #greeting_txt {
   text-align: center;
   margin-bottom: 50px;
}

#profile #profile_section h1 {
   margin-left: 15px;
}

#profile #messages_section h1 {
   margin-right: -15px;
}

#profile img {
   /*display: block;*/
   height: 75px;
   width: 75px;
   /*border-radius: 100%;*/
}

#profile input[type="submit"] {
   display: block;
   margin-top: 10px;
}

#profile label {
   display: block;
}

/* --------- MY ITEMS PAGE ------------------------- */
#my_items input[type="submit"] {
   display: block;
   margin-top: 10px;
}

#my_items #item_name {
   max-width: 60%;
   width: 100%;
}

#my_items #item_description {
   max-width: 60%;
   width: 100%;
   min-height: 100px;
}

#my_items label {
   display: block;
}

#my_items .item {
   clear: both;
   margin-bottom: 50px;
}

#my_items .item_img {
   max-width: 100px;
   margin-top: -80px;
   margin-bottom: 50px;
   float: left;
}

#my_items .item_text {
   margin-left: 120px;
}

#my_items .item_text .category_date {
   display: block;
   margin-bottom: 5px;
   margin-top: -10px;
}

.category_label {
   display: inline-block;
   background: black;
   color: white;
   border-radius: 4px;
   padding: 2px 6px;
   font-size: 12px;
}
/* --------- HEADER/MENU ---------------------- */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: #222222;
}

nav ul {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
}

nav ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-family: Arial;
    font-size: 16px;
}

nav ul form {
    float: left;
}

nav ul form input {
    float: left;
    border: none;
    margin-right: 6px;
}

nav ul form button {
    float: left;
    border: none;
    margin-right: 20px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    cursor: pointer;
}

/* --------- PROFILE ---------------------- */
.msg-width {
   display: inline-block;
}


/* --------- INDEX ---------------------- */

#result {
    margin-top:22px;
}
.index_category_label{
    float: right;
    margin-top: 20px;
}
.index_name {
    float: left;
    width: 50%;
    margin: 7px 0;
}
.index_date{
    float: left;
}


.one_item{
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    color: black;
}
.one_item:hover{
    text-decoration: none;
    color: black
}

#result hr {
    margin-top: 50px;
    margin-bottom: -3px;
    width: 100%;
    background-color: dimgrey;
    height: 1px;

}

#result img {
    width: 100%;
}
.index_img_wrap{
    overflow: hidden;
    height: 260px;
}



/*-------------- ITEM----------------- */

.gallery {
    display: inline-block;
    margin-top: 20px;
}
.one_picture{
    width: 100%;
}

.item_profile {
    text-align: center;
    background-color: #eee;
    padding: 20px 10px;
    border-radius: 2px;
}
.item_profile img {
    width: 80%;
    margin-bottom: 20px;
}

.item_profile_name {
    font-size: 22px;
}

/* ------------- REGISTER -------------------- */
#register #registerForm input, #register #registerForm select {
   padding: 5px;
   max-width: 47%;
   width: 100%;
   margin-right: 10px;
   margin-bottom: 10px;
}

/* ------------- LOGIN -------------------- */
#login #loginFormWrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
      justify-content: center;
   -ms-flex-line-pack: center;
      align-content: center;
}

#login #loginFormWrapper input {
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 10px;
}

#login #login_message {
   text-align: center;
   margin-top: 10px;
}
