/* ------------ GENERAL STYLES --------------------- */

/*
   COLORS:
   White: #FDFDFD
   Green: #A7D89E
   Black: #2A2F36
*/

.row {
   margin: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
}

.error {
   color: red;
}

.success {
   color: green;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea, select {
   padding: 5px;
   border: 1px solid #dadada;
   border-radius: 2px;
}

input[type="submit"]{
   display: block;
   margin-top: 10px;
   background: #4f5052;
   color: #9dd29d;
   border: none;
   font-size: 12px;
}

input[type="submit"]:hover{
   color: white;
   cursor: pointer;
}

input:focus, textarea:focus, select:focus{
   outline: none !important;
   border-color: #4f5052;
}

/* ------------ NAVIGATION/MENU --------------------- */
.navbar {
   border-radius: none !important:
}

.navbar-default {
   background-color: #2A2F36;
   border: none;
}

.navbar-default .navbar-nav>li>a {
   color: #FDFDFD;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
   color: #A7D89E;
}

.navbar-default .navbar-brand {
   color: #A7D89E;
   text-transform: uppercase;
}

.navbar-default .navbar-brand:hover {
   color: white;
}

/* ------------ PROFILE PAGE -----------------------*/

#profile .messageLeft, #profile .messageRight {
   /*background-color: grey;*/
   padding: 10px;
   /*border: 1px solid #A7D89E;*/
}

#profile .messageLeft {
   border-left: 1px solid #A7D89E;
}

#profile .messageRight {
   border-right: 1px solid #A7D89E;
}

#profile .mesgFormC {
   margin-bottom: 30px;
}

#profile .msg-width {
   display: inline-block;
}

#messages_section {
   border-left: 1px solid #A7D89E;
}

#profile input[type="text"], #profile input[type="email"], #profile input[type="password"], #profile select, #profile textarea {
   max-width: 75%;
   width: 100%;
   cursor: text;
}
#profile #county:hover {
   cursor: pointer;
}

#profile .section_heading {
   font-size: 30px;
   border-bottom: 1px solid #97cf97;
   display: inline-block;
   padding-bottom: 10px;
}

#profile #profile_section h1 {
   margin-left: 15px;
}

#profile #messages_section h1 {
   margin-left: -15px;
}

#profile form {
   margin-bottom: 20px;
}

#profile img {
   height: 75px;
   width: 75px;
   margin-bottom: 10px;
}

#profile input[type="submit"] {
   display: block;
   margin-top: 10px;
}

#profile label {
   display: block;
}

#profile #messages_section h2 {
   font-size: 16px;
   margin-top: -5px;
}

/* --------- MY ITEMS PAGE ------------------------- */
#my_items input[type="submit"] {
   display: block;
   margin-top: 10px;
}

#my_items #item_name {
   max-width: 60%;
   width: 100%;
}

#my_items #item_name:hover{
    cursor: text;
}

#my_items #item_description {
   max-width: 60%;
   width: 100%;
   min-height: 100px;
}

#my_items label {
   display: block;
}

#my_items #items_list {
   margin-left: -15px;
}

#my_items .item {
   clear: both;
   margin-bottom: 50px;
}

#my_items .item_img {
   max-width: 100px;
   margin-top: -80px;
   margin-bottom: 50px;
   float: left;
}

#my_items .item_text {
   margin-left: 120px;
}

#my_items .item_text .category_date {
   display: block;
   margin-bottom: 5px;
   margin-top: -10px;
}

.category_label {
   display: inline-block;
   background: #2A2F36;
   color: #A7D89E;
   border-radius: 4px;
   padding: 2px 6px;
   font-size: 12px;
}

.delete_item {
    float: right;
    position: relative;
    bottom: 30px;
    background-color: #e84e4f;
    color: #fdfdfd;
    border: none;
    padding: 6px 10px;

    border-radius: 2px;

}


/* --------- HEADER/MENU ---------------------- */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: #222222;
}

nav ul {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
}

nav ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-family: Arial;
    font-size: 16px;
}

nav ul form {
    float: left;
}

nav ul form input {
    float: left;
    border: none;
    margin-right: 6px;
}

nav ul form button {
    float: left;
    border: none;
    margin-right: 20px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    cursor: pointer;
}


/* --------- INDEX ---------------------- */
.filter_wrap label:hover, input:hover {
    cursor: pointer;
}

.filter_text {
    position: relative;
    bottom: 2.5px;
}


#result {
    margin-top:22px;
}
.index_category_label{
    float: right;
    margin-top: 20px;
}
.index_name {
    float: left;
    width: 50%;
    margin: 7px 0;
}
.index_date{
    float: left;
}


.one_item{
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    color: black;
}
.one_item:hover{
    text-decoration: none;
    color: black
}

#result hr {
    margin-top: 50px;
    margin-bottom: -3px;
    width: 100%;
    background-color: dimgrey;
    height: 1px;

}

#result img {
    width: 100%;
}
.index_img_wrap{
    overflow: hidden;
    height: 260px;
}



/*-------------- ITEM----------------- */
#item .item_title {
    font-size: 30px;
    border-bottom: solid 1px #a7d89e;
    padding-bottom: 10px;
    display: inline-block;
    width: auto;
}
#item .gallery {
    display: inline-block;
    margin-top: 20px;
}
#item .one_picture{
    width: 100%;
}
#item .item_img_wrap{
    position: relative;
    left: -27px;
}

#item .item_desc_wrap{
    position: relative;
    left: -13px;
}


#item .item_profile {
    text-align: center;
    background-color: #2a2f36;
    color: #fdfdfd;
    padding: 20px 10px;
    margin-top: 5px;
    border-radius: 2px;
}
#item .item_profile p a {
    color:  #A7D89E;
}

#item .item_profile img {
    width: 80%;
    margin-bottom: 20px;
}

#item .item_profile_name {
    font-size: 22px;
}

#item #firstMessage {
   cursor: text;
}

#item #startConvOuter {
   margin-left: -15px;
}

#item #firstMessage {
   min-width: 50%;
}

#item .item_button {
    display: inline-block;
    text-decoration: none;
    background-color: #2a2f36;
    color: #a7d89e;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;

}
#item .item_button:hover {
    text-decoration: none;
    color: #fdfdfd;
}

/* ------------- REGISTER -------------------- */
#register #registerForm input, #register #registerForm select {
   padding: 5px;
   max-width: 47%;
   width: 100%;
   margin-right: 10px;
   margin-bottom: 10px;
   cursor: text;
}

#register #registerForm select:hover, #register #registerForm input[type="submit"]:hover {
   cursor: pointer;
}

/* ------------- LOGIN -------------------- */
#login #loginFormWrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
      justify-content: center;
   -ms-flex-line-pack: center;
      align-content: center;
}

#login #loginFormWrapper input {
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 10px;
   cursor: text;
}

#login #loginFormWrapper input[type="submit"] {
   cursor: pointer;
}

#login #login_message {
   text-align: center;
   margin-top: 10px;
}
